<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>OAuth2 Client Demo</title>
</head>
<body>
    <div th:if="${error}" th:text="${error}" style="color: darkred"></div>
    <div th:if="${user == null}">
        <a href="/login">
            Connect your account
        </a>
    </div>
    <div th:if="${user != null}">
        <p>
            <span>Login: </span><span th:text="${user.get('login')}"></span>
        </p>
        <p>
            <span>Name: </span><span th:text="${user.get('name')}"></span>
        </p>
        <p>
            <span>Bio: </span><span th:text="${user.get('bio')}"></span>
        </p>
    </div>
    <div th:if="${message}" th:text="${message}">

    </div>
    <div th:if="${contacts}">
        <ul>
            <li th:each="contact: ${contacts}">
                <div th:text="${contact.get('name')}">NAME</div>
                <div th:text="${contact.get('email')}">EMAIL</div>
            </li>
        </ul>
    </div>
</body>
</html>
