<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Authorize Application</title>
    <style>
        button > a {
            text-decoration: none;
        }
    </style>
</head>
<body>
<header>
    <span style="font-weight: bold" th:text="${realm.getName()}"></span> | Signed in as <span style="font-weight: bold" th:text="${user.username}"></span>
</header>
<main>
    <form th:action="${allowActionURI}" method="post">
        <h1 th:text="${client.getName()}"></h1>
        <p th:text="${client.getDescription()}"></p>
        <p th:text="${client.getHomePageUrl()}"></p>
        <hr>
        This app wants to:
        <ul>
            <th:template th:each="scope : ${scopes}">
                <li>
                    <input th:id="${scope.name()}" type="checkbox" th:value="${scope.name()}" name="selectedScopes" th:disabled="${scope.required()}" checked/>
                    <label th:for="${scope.name()}"
                           th:text="${scope.description()}">Scope description</label>
                </li>
            </th:template>
        </ul>
        <a th:href="${denyActionURI}">Deny</a>
        <button type="submit">Allow</button>
    </form>
</main>
</body>
</html>