<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Authorize Application</title>
    <style>
        button > a {
            text-decoration: none;
        }
    </style>
</head>
<body>
<header>
    My Authorization Server | Signed in as <span style="font-weight: bold" th:text="${user.username}"></span>
</header>
<main>
    <h1 th:text="${client.getName()}"></h1>
    <p th:text="${client.getDescription()}"></p>
    <p th:text="${client.getHomePageUrl()}"></p>
    <hr>
    This app wants to:
    <ul>
        <li>
            View your email
        </li>
        <li>
            View your profile
        </li>
    </ul>
    <button><a th:href="${denyActionURI}">Deny</a></button>
    <button><a th:href="${allowActionURI}">Allow</a></button>
</main>
</body>
</html>