<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Authorize Application</title>
</head>
<body>
<header>
    My Authorization Server | Signed in as <span th:text="${user.username}"></span>
</header>
<main>
    <h1 th:text="${client.getName()}"></h1>
    <p th:text="${client.getHomePageUrl()}"></p>
    <hr>
    This app wants to:
    <ul>
        <li>
            View your email
        </li>
        <li>
            View your profile
        </li>
    </ul>
    <button>Deny</button>
    <button>Allow</button>
</main>
</body>
</html>